main.mdl-layout__content.mdl-color--grey-100
  .stretch.single.page-content
    = simple_form_for @article, url: admin_articles_path, html: { class: 'jrf-edit-form' }, id: 'edit-form' do |f|
      = render partial: 'form', locals: { f: f }
