defaults: &defaults
  google_auth_key:
    client_id: ''
    client_secret: ''

  google_public_key:
    api_key: ''

  facebook_auth_key:
    app_id: ""
    app_secret: ""

  url:
    host: "localhost:3000"
    protocol: "http"

  email:
    sender: ""
    contact: ""

  smtp_settings:
    port: ""
    address: ""
    domain: ""
    user_name: ""
    password: ""
    authentication: ""

  google_analytics:
    id: ""

  google_gtm:
    id: ""

  rollbar:
    access_token: ""

development:
  <<: *defaults
  admin_email: "admin@test.com"
  smtp_settings:
    mail_username: ""
    mail_password: ""

test:
  <<: *defaults

production:
  <<: *defaults

