.main-drawer {
    border: none;
}

.main-navigation {
    @include flex-grow(1);

    .material-icons {
       color: rgba(255, 255, 255, .56);
       margin-right: 32px;
   }
}

.mdl-navigation.main-navigation .mdl-navigation__link {
    @include display-flex;
    @include flex-direction(row);
    @include align-items(center);

    color: rgba(255, 255, 255, .56);
    font-weight: 500;

     &:hover {
         background-color: #BCAAA4;
         color: #37474F;
     }
}

.main-header {
    min-height: 64px;
    padding: 16px;

    h6 {
        margin: 16px 0 0 0;
        font-weight: 600;
    }
    .avatar {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background: white;
    }
}

.mdl-layout__header .mdl-layout__drawer-button {
    color: rgba(0, 0, 0, .54);
}

.page-content {
    max-width: 1080px;
}

.mdl-data-table.search-result-table {
    table-layout: fixed;
    width: 100%;

    td, th {
        text-align: left;
    }

    .fill-column {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    a {
        display: inline;
        word-wrap: break-word;
    }
}

.magazine-card {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &::before {
        content: "";
        padding-top: 100%;
    }

    .mdl-card__actions {
        background: rgba(0, 0, 0, .36);
        color: #fff;

        a, a:visited {
            color: #fff;
            text-decoration: none;
        }
    }

    .card-mouse-area {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
    }
}

.search-form {
    padding: 16px;

    .search-field {
        width: 90%;
    }
}

.search-row-wrapper {
    @include flex-grow(1);
    @include align-items(center);

    background: #f5f5f5;
    border-radius: 4px;
    padding: .5em 1em .5em 56px;
    position: relative;

    .material-icons {
        position: absolute;
        left: 16px;
    }

    input {
        display: block;
        background: transparent;
        border: none;
        font-size: 1em;
        outline: none;
        padding: 4px 0;
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}

.featured-card .mdl-card__title {
    background: #E91E63;
    background-position: center;
    background-size: cover;
    padding-top: 100%;
}
