main.mdl-layout__content.mdl-color--grey-100
  .stretch.single.page-content
    = simple_form_for @record, url: admin_record_path(@record), method: :put, class: 'jrf-edit-form', id: 'edit-form' do |f|
      = render :partial => 'form', :locals => { :f => f }
